/*
* BMK Board			ST7789V (320x240)
* 
* P0.24 			RST
* P0.15 			DC (DATA/CMD)
* P0.20 			SCL
* P0.21 			SDA
* P0.16 			CS	
*/

#include <zephyr/dt-bindings/led/led.h>

#define SPI_FREQ    4000000
#define ZERO_FRAME  0x40
#define ONE_FRAME   0x70

/ {
   chosen {
	   zephyr,display = &st7789v;
   };
};

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	cs-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default", "sleep";
	
	st7789v: st7789v@0 {
		compatible = "sitronix,st7789v";
		label = "ST7789V";
		spi-max-frequency = <32000000>;
		reg = <0>;
		cmd-data-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
		width = <320>;
		height = <240>;
		x-offset = <0>;
		y-offset = <0>;
		vcom = <0x19>;
		gctrl = <0x35>;
		vrhs = <0x12>;
		vdvs = <0x20>;
		mdac = <0xA0>;
		lcm = <0x2c>;
		colmod = <0x55>;
		gamma = <0x01>;
		porch-param = [0c 0c 00 33 33];
		cmd2en-param = [5a 69 02 01];
		pwctrl1-param = [a4 a1];
		pvgam-param = [D0 04 0D 11 13 2B 3F 54 4C 18 0D 0B 1F 23];
		nvgam-param = [D0 04 0C 11 13 2C 3F 44 51 2F 1F 1F 20 23];
		ram-param = [00 F0];
		rgb-param = [CD 08 14];
	};

};

&spi0 { 
	compatible = "nordic,nrf-spim";
	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <SPI_FREQ>;

		/* WS2812 */
		chain-length = <10>; /* arbitrary; change at will */
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		spi-one-frame = <ONE_FRAME>;
		spi-zero-frame = <ZERO_FRAME>;
	};
};

/ {
	aliases {
		led-strip = &led_strip;
	};
};
